@{
  Layout = "_Layout";
}
@{
    ViewBag.Title = "Dr. Sillystringz's Factory";
}

<div class="jumbotron">
    <h1>Dr. Sillystringz's Factory</h1>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Welcome to Dr. Sillystringz's Factory</h2>
        <p>Dr. Sillystringz's Factory is a sample application that
        demonstrates how to use Entity Framework 6 in an 
        ASP.NET MVC 5 web application.</p>
    </div>
    <div class="col-md-3">
      <p>@Html.ActionLink("See all Engineers", "Index", "Engineers")</p>   
    </div>
    <div class="col-md-3">
        <p>@Html.ActionLink("Create a new Engineer", "Create", "Engineers")</p>
        <hr />
        <p>@Html.ActionLink("Add a new Machine", "Create", "Machines")</p>
    </div>
    <div class="col-md-3">
        <p>@Html.ActionLink("See all Machines", "Index", "Machines")</p> 
    </div>
</div>



